<app-encabezados></app-encabezados>
<div class="grid min-h-screen w-full lg:grid-cols-[280px_1fr]">
  <app-menu></app-menu>
  <div class="mx-auto content-center my-auto min-w-[700px] space-y-6 p-6">
    <div>
      <div class="text-2xl font-bold">Listado de Horarios</div>
    </div>
    <div *ngIf="mostrarRegistro || horarioEditando" class="modal-overlay" (click)="cerrarModal($event)">
      <div class="modal-content" (click)="$event.stopPropagation()">
        <form (ngSubmit)="horarioEditando ? editarHorario() : registrarHorario()">
          <div class="space-y-4">
            <input type="date" [(ngModel)]="formHorario.fecha" name="fecha" min="{{hoy | date:'yyyy-MM-dd'}}" required class="w-full px-3 py-2 border rounded-md" />
            <div *ngFor="let detalle of formHorario.detalleHorarios; let i = index" class="space-y-2">
              <input type="text" [(ngModel)]="detalle.especialidad" name="especialidad{{i}}" placeholder="Especialidad" required class="w-full px-3 py-2 border rounded-md" />
              <input type="number" [(ngModel)]="detalle.citas.length" name="numCitas{{i}}" placeholder="Número de Citas" required class="w-full px-3 py-2 border rounded-md" />
            </div>
            <div>
              <button type="submit" class="w-40 bg-[#003366] text-white py-2 rounded-md">{{ horarioEditando ? 'Editar' : 'Crear' }}</button>
              <button type="button" (click)="toggleRegistro()" class="w-40 bg-red-500 text-white py-2 rounded-md">Cerrar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="flex justify-between">
      <div class="grid place-items-center">
        <button (click)="toggleRegistro()" class="w-40 bg-[#003366] text-white py-2 rounded-md">{{ horarioEditando ? 'Editar horario' : 'Registrar horario' }}</button>
      </div>
    </div>
    <table class="w-full table-auto text-center">
      <thead class="bg-gray-100">
        <tr>
          <th class="px-3">Id</th>
          <th class="px-3">Fecha</th>
          <th class="px-3">Número de Citas</th>
          <th class="px-3">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let horario of horarios; let i = index; trackBy: trackById">
          <td class="px-3">{{ i + 1 }}</td>
          <td class="px-3">{{ horario.fecha }}</td>
          <td class="px-3">{{ horario.numCitas }}</td>
          <td class="px-3 flex justify-around">
            <button (click)="editar(horario)" class="bg-blue-500 text-white py-1 px-2 rounded-md w-20">Editar</button>
            <button (click)="eliminar(horario.id)" class="bg-red-500 text-white py-1 px-2 rounded-md w-20">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="grid place-items-center">
      <button class="w-40 bg-[#003366] text-white py-2 rounded-md">Generar reporte</button>
    </div>
  </div>
</div>
